<%- include('./partials/header'); -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/book.css"> 
</head>
<body>
    <div class="book-page">
        <div class="book-text">
            <h1>Book A Table</h1>
            <p>We consider all the drivers of change gives you the components you need to change to create a truly happens.</p>
        </div>
        <div class="bookform">
            <div class="book-form1">
                <div class="date">
                    <label for="date">Date</label>
                    <input type="date" name="date" id="date" required>
                </div>
                    <div class="time">
                        <label for="time">time</label>
                        <input type="time" name="time" id="time" required>
                    </div>
                </div>
                <div class="book-form2">
                    <div class="name">
                        <label for="name">name</label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div class="phone-book">
                        <label for="phone">phone</label>
                        <input type="tel" name="phone" id="name" required>
                    </div>
                </div>
                <div class="person">
                    <label for="person">person</label>
                    <input type="number" name="person" id="person" required> 
                </div>
                <div class="button-to-book">
                    <a href="/user-page"> book a table</a>
                </div>

        </div>
        </div>   
        <div class="background"></div>   
        </div>
</body>
</html>
<%- include('./partials/footer'); -%>